@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  display: none;
}

.logo{
    padding-box: 0;
}

.aboutTranslate{
    transform: translate(-50%, -50%) rotate(45deg);
}

.overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 0vh;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: clamp(3rem, 8vw, 10rem);
    overflow: hidden;
}

.overlay h1 {
    transform: scale(0);
}


.nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
   
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    
}



.ul,
.li {
    margin: 0;
    padding: 0;
}

.ul {
    padding: 25px;
    position: absolute;
    top: 100px;
    width: 100%;
}

.li {
    list-style: none;
    margin-bottom: 20px;
    display: flex;

    align-items: center;
    cursor: pointer;
}

.icon-placeholder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex: 40px 0;
    margin-right: 20px;
}

.text-placeholder {
    border-radius: 5px;
    width: 200px;
    height: 20px;
    flex: 1;
}

